PORT=5001
JWT_SECRET=super_secret_key_change_me
DATABASE_URL="postgresql://user:password@localhost:5432/agency_db?schema=public"

# Email Configuration
MAIL_HOST=smtp.zoho.in
MAIL_PORT=587
MAIL_USERNAME=your_email@zohomail.in
MAIL_PASSWORD=your_app_password
ADMIN_EMAIL=your_email@zohomail.in
